{% extends "base.html" %}

{% block content %}
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
        <h2>Gerenciamento de Alunos</h2>
        <button class="btn-black" style="width: auto;">+ Novo Aluno</button>
    </div>

    <div style="background: #f9f9f9; padding: 20px; border-radius: 8px; border: 1px solid #e5e5e5;">
        <p>Aqui vai entrar a lista dos teus alunos (João, Maria, etc).</p>
        <br>
        <p><em>(Em breve vamos puxar isso do banco de dados!)</em></p>
    </div>
{% endblock %}